<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RedpackWSSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="RedpackWSSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="RedpackWSSoap11Binding"
                contract="Servicios.RedpackWSPortType" name="RedpackWSHttpSoap11Endpoint" />
            <endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="RedpackWSSoap12Binding"
                contract="Servicios.RedpackWSPortType" name="RedpackWSHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>