<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RedpackWSSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="RedpackWSSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="RedpackWSSoap11Binding" contract="RedPackWs1.RedpackWSPortType" name="RedpackWSHttpSoap11Endpoint" />
      <endpoint address="http://ws.redpack.com.mx/RedpackAPI_WS/services/RedpackWS.RedpackWSHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="RedpackWSSoap12Binding" contract="RedPackWs1.RedpackWSPortType" name="RedpackWSHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>